<%- include('./Partials/header.ejs') %>
<link rel="stylesheet" href="css/contribute.css" >
<%- include('./Partials/chore.ejs') -%>
<div class="contribution__container">
    <img src="images/contribute.png" alt="contribute" >
    <form action="/contribute" method="post" class="text-center" enctype="multipart/form-data">
        <label>Your contribution matters</label>
        <h6>Note* You can use this to convert model of any format to glb <a
            href="https://anyconv.com/fbx-to-glb-converter/" target="_blank">Use it</a></h6>
        <input type="file" class="form-control" name="modelTesting">
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Contribute for nobel cause</button>
        </div>
    </form>
</div>