<%- include('./Partials/header.ejs') -%>
<link href="stylesheets/style.css" rel="stylesheet" />
<div class="frontpage">
    <div class="container">
      <h1 class="text-center main__head typewriter">Revolutionalizing learning </h1>
      <p class="text-center tert__head">&#128526; -By Sahaayak Associates &#128526;</p>
    </div>
</div>
<%- include('./Partials/footer.ejs') -%>
