<%- include('./Partials/header.ejs') -%>
<div class="frontpage">
  <div class="frontpage-left">
    <div class="container">
      <h1 class="text-center main__head font-weight-bold text-weight-bold">Revolutionising the way lecture goes on</h1>
      <h3 class="text-center sub__head">Change is the end result of all true learning.</h3>
      <p class="text-center tert__head">&#128526; -By TechAr Associates &#128526;</p>
    </div>
  </div>
  <div class="frontpage-right">
    <img src="images/bookShelve.png" alt="Right-Side-Illustration" />
  </div>
</div>
<%- include('./Partials/footer.ejs') -%>
