.reason
{
    margin-top:20px;
}
.usage
{
    margin-top:50px;
}
.usage-video
{
    display:block;
    margin:auto;
    width:1000px;
    height:400px;
    outline:none;
    margin-top:15px;
}
body{
    color:#fff;
    background-image: url('/images/bg8.jpg');
}